.footer-icons figure {
    width: 24px;
    height: 24px;
    margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.footer-icons {
    display: flex;
    gap: 20px;
}

footer p {
    margin-top: 0;
    color: #ffffff;
    font-style: italic;
    font-size: 0.8em;
}