header h1, header p {
    margin-top: 0;
}

header {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 30px 50px;
    background-color: rgb(23, 171, 179);
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin: 0;
}

header p {
    font-weight: 600;
    font-size: 1.4em;
    margin: 5px 0 15px;
}

.info p {
    font-size: 1em;
    font-weight: 400;
}

.personnal-informations {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 12px 40px;
    margin-top: 15px;
    justify-content: center;
}

.info {
    display: flex;
    align-items: center;
    gap: 6px;
}

.info a, .info p {
    color: #ffffff;
    margin: 0;
    font-size: 14px;
    text-decoration: none;
}

figure {
    width: 120px;
    height: 120px;
    margin: 0;
    margin-left: 50px;
    margin-top: -10px;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid #ffffff;
    border-radius: 50%;
}