@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Thin.woff");
    src: url("../fonts/Raleway-Light.woff")
}

body {
    font-family: "Raleway";
}

h1, h2 {
    font-family: "Lato", sans-serif;
}

header, footer {
    background-color: rgb(23, 171, 179);
}

header h1, header p, header a, footer p {
    color: #ffffff
}

figure {
    width: 150px;
    height: 150px;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid black;
    border-radius: 50%;
}

.figure-icon {
    width: 20px;
    height: 20px;
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}