@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Thin.woff");
    src: url("../fonts/Raleway-Light.woff")
}

body {
    font-family: "Raleway";
    margin: 0;
    background-color: #f5f5f5;
}

.cv {
    width: 1160px;
    margin: 0 auto;
    background: white;
}

html {
  background-color: #f5f5f5;
  height:100%;
  margin: 0;
}

h1, h2 {
    font-family: "Lato", sans-serif;
}

header, footer {
    background-color: rgb(23, 171, 179);
}

header h1, header p, header a, footer p {
    color: #ffffff
}

.skills {
    background-color: #e3e3e3;
}

.skills h2 {
    margin-top: 0;
}

.figure-icon {
    width: 20px;
    height: 20px;
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}